#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: blanchedalmond;
}

/* media queries */

@media (max-width: 480) {
/* Mobiles */
.Card {
  display: list-item;
  border: 0cap;
  background-color: whitesmoke;
  box-shadow: 6px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.List {
  list-style-type: none;
  padding-left: 0px;
  word-wrap: break-word;
  display: block;
  }
}

@media (481px <= width <= 768px){
/* Tablets */
.Card {
  display: list-item;
  border: 0cap;
  background-color: whitesmoke;
  box-shadow: 6px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.List {
  list-style-type: none;
  padding-left: 0px;
  word-wrap: break-word;
  display: block;
  }
}


@media (769px <= width <= 1024px){
/* Laptops */
.Card {
  display: list-item;
  border: 0cap;
  background-color: whitesmoke;
  box-shadow: 6px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.List {
  list-style-type: none;
  padding-left: 0px;
  word-wrap: break-word;
  display: block;
}
}

/* All else (Desktops and larger)*/
  .Card {
    display: list-item;
    border: 0cap;
    background-color: whitesmoke;
    box-shadow: 6px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
  }

  .List {
    display: grid;
    list-style-type: none;
    padding-left: 0px;
    word-wrap: break-word;
  }